{% extends 'homebase.html' %}

{% block title %} {{ Product.title}} {% endblock %}
{% block description %}{{Product.description}} {% endblock %}
{% block keywords %}{{Product.keywords}} {% endblock %}
{% block slidebar %}  {% include 'slidebar.html' %}      {% endblock %}

{% block body %}

<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="/category/{{ Product.category.id}}/{{ Product.category.slug}}">{{ Product.category.title}}</a>
            </li>
            <li><a href="#">{{ Product.title}}</a></li>

        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!--  Product Details -->
            <div class="product product-details clearfix">
                <div class="col-md-6">
                    <div id="product-main-view">
                        <div class="product-view">
                            <img alt="" src="{{ Product.image.url}}" style="height:400px">
                        </div>
                        {% for rs in images %}
                        <div class="product-view">
                            <img alt="" src="{{ rs.image.url}}" style="height:400px" >
                        </div>
                        {% endfor %}

                    </div>
                    <div id="product-view">
                        <div class="product-view">
                            <img alt="" src="{{ Product.image.url}}">
                        </div>
                        {% for rs in images %}
                        <div class="product-view">
                            <img alt="" src="{{ rs.image.url}}">
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="product-body">
                        <div class="product-label">
                            <span>New</span>
                            <span class="sale">-20%</span>
                        </div>
                        <h2 class="product-name">{{ Product.title}}</h2>


                        <p><strong>Brand:</strong> E-SHOP</p>
                        <h6 class="product-name">{{ Product.title}}</h6>
                        <script>
                        $(document).on('change','#post-form',function(e){
                        e.preventDefault();
                        $.ajax({
                        type:'POST',
                        url: '{% url "ajaxcolor"%}',
                        data:{
                        productid:$('#productid').val(),
                        size:$('#size').val(),
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                        action:'post'
                        },
                        data_type:'html',
                        success:function(data){
                        console.log("success");
                        $('#appendHere').html(data.rendered_table);
                        },
                        error:function(data){
                        alert("Got an error dude " + data);
                        }
                        });
                        });

                    </script>
                        <div class="product-btns">
                        <div class="row">

                    {% if product.variant == 'Size-Color' %}
                            <div class="product-options">
                                <div class="size-option">

                                    <form method="POST" id="post-form">
                                        <input type="hidden" name="productid" id="productid" value="{{Product.id}}">
                                        <span class="text-uppercase">Size:
                               </span>
                                        {% csrf_token %}
                                        <select name="size" id="size">
                                            {% for rs in sizes %}
                                            <option {% if variant.size_id == rs.size_id %} selected {% endif %}
                                                    value="{{rs.size_id}}">{{rs.size.name}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </form>
                                </div>
                                <form method="post" action="?q=selectvariant" id="post-color">
                                    {% csrf_token %}
                                    <div id="appendHere">
                                        <input type="hidden" name="size" id ="size" value= "{{ size_id }}">


                                        <ul class="color-option">
                                            <li><span class="text-uppercase">Color:</span></li>
                                            {% for rs in colors %}
                                            <input type="radio" {% if variant.id == rs.id%} chacked {% endif %}
                                                   name="variantid" id="variantid" value="{{rs.id}}"
                                                   onchange="this.form.submit();">
                                            <li {% if variant.id == rs.id %} class="active" {% endif %}>
                                                <a style="...">
                                                    ${{rs.price}} {{rs.color }}
                                                </a>
                                                <img src="{{ rs.image }}" style="height:70px">
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </form>
                            </div>
                            {% elif product.variant == 'color'%}

                                <form method="post" action="?q=selectvariant" id="post-color">
                                    {% csrf_token %}
                                    <div id="appendHere">
                                        <input type="hidden" name="size" id ="size" value= "{{ size_id }}">


                                        <ul class="color-option">
                                            <li><span class="text-uppercase">Color:</span></li>
                                            {% for rs in colors %}
                                            <input type="radio" {% if variant.id == rs.id%} chacked {% endif %}
                                                   name="variantid" id="variantid" value="{{rs.id}}"
                                                   onchange="this.form.submit();">
                                            <li {% if variant.id == rs.id %} class="active" {% endif %}>
                                                <a style="...">
                                                    ${{rs.price}} {{rs.color }}
                                                </a>
                                                <img src="{{ rs.image }}" style="height:70px">
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </form>
                        </div>
                            {% endif %}
                            {% if product.variant != 'None' %}
                            <form action="/order/addtoshopcart/{{product.id}}"method="post" id="addchart-form">
                                {%csrf_token%}
                                <input type="hidden" name="variantid" id="variantid" value="{{variant.id}}">
                                <div id="SelectProduct">
                                    <p><strong>Availability:</strong>{% if variant.quantity > 0 %} In Stock {% else %}Out Of Stock{%endif%}</p>
                                    <p><strong>Selected:</strong>Size:{{variant.size}} Color:{{variant.color}}</p>
                                    <h3 class="product-price">Rs.{{variant.size}}</h3>
                                    <div class="qty-input">
                                        <span class="text-uppercase">Qty:</span>
                                        <input class="input" name="quantity" type="number" value="1" min="1" max="{{variant.quantity}}">
                                        <button type="submit"{% if variant.quantity < 1 %} disabled {%endif%} class = "primary-btn">
                                        <i class="fa fa-shopping-cart"></i>Add to Cart
                                        </button>
                                    </div>
                                </div>
                            </form>
                            {% else %}
                            <form action="/order/addtoshopcart/{{product.id}}"method="post" id="addchart-form">
                                {%csrf_token%}
                                <input type="hidden" name="variantid" id="variantid" value="{{variant.id}}">
                                <div id="SelectProduct">
                                    <p><strong>Availability:</strong>{% if variant.amount > 0 %} In Stock {% else %}Out Of Stock{%endif%}</p>
                                    <p><strong>Selected:</strong>Size:{{variant.size}} Color:{{variant.color}}</p>
                                    <h3 class="product-price">Rs.{{variant.size}}</h3>
                                    <div class="qty-input">
                                        <span class="text-uppercase">Qty:</span>
                                        <input class="input" name="quantity" type="number" value="1" min="1" max="{{variant.quantity}}">
                                        <button type="submit"{% if variant.quantity < 1 %} disabled {%endif%} class = "primary-btn">
                                        <i class="fa fa-shopping-cart"></i>Add to Cart
                                        </button>
                                    </div>
                                </div>
                            </form>
                        <p>{{ Product.descripation}}.</p>

                        <div class="product-options">
                            <ul class="size-option">
                                <li><span class="text-uppercase">Size:</span></li>
                                <li class="active"><a href="#">S</a></li>
                                <li><a href="#">XL</a></li>
                                <li><a href="#">SL</a></li>
                            </ul>
                            <ul class="color-option">
                                <li><span class="text-uppercase">Color:</span></li>
                                <li class="active"><a href="#" style="background-color:#475984;"></a></li>
                                <li><a href="#" style="background-color:#8A2454;"></a></li>
                                <li><a href="#" style="background-color:#BF6989;"></a></li>
                                <li><a href="#" style="background-color:#9A54D8;"></a></li>
                            </ul>
                        </div>

                        <div class="product-btns">
                            <form action="/order/addtoshopcart/{{ Product.id }}" method="post">
                                {% csrf_token %}
                                <div class="qty-input">
                                    <span class="text-uppercase">QTY: </span>
                                    <input class="input" max="{{ Product.amount }}" min="1" name="quantity"
                                           type="number"
                                           value="1">
                                </div>
                                <button class="primary-btn add-to-cart" type="submit"><i
                                        class="fa fa-shopping-cart"></i> Add to Cart
                                </button>
                            </form>
                            <div class="pull-right">
                                <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                <button class="main-btn icon-btn"><i class="fa fa-share-alt"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="product-tab">
                        <ul class="tab-nav">

                            <li><a data-toggle="tab" href="#tab1">Details</a></li>
                            <li><a data-toggle="tab" href="#tab2">Reviews (3)</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1">
                                <p>{{Product.detail|safe}}</p>
                            </div>
                            <div class="tab-pane fade in" id="tab2">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="product-reviews">
                                            {% for rs in comment %}

                                            <div class="single-review">
                                                <div class="review-heading">
                                                    <div><a href="#"><i class="fa fa-user-o"></i> {{ rs.user.first_name
                                                        }}</a></div>
                                                    <div><a href="#"><i class="fa fa-user-o"></i> {{ rs.subject }}</a>
                                                    </div>
                                                    <div><a href="#"><i class="fa fa-clock-o"></i> {{ rs.create_at
                                                        }}</a>
                                                    </div>

                                                </div>
                                                <div class="review-body">
                                                    <p>{{ rs.comment }}</p>
                                                    <p>{{ rs.comment }}</p>
                                                </div>
                                            </div>
                                            {% endfor %}

                                            <div class="col-md-6">
                                                <h4 class="text-uppercase">Write Your Review</h4>

                                                {% if messages %}
                                                {% for message in messages %}
                                                <div class="alert alert-{{message.tags}}" role="alert">
                                                    {{ message }}
                                                </div>
                                                {% endfor %}
                                                {% endif %}

                                                <form action="/product/addcomment/{{ Product.id }}" class="review-form"
                                                      method="POST">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <input class="input" name="subject"
                                                               placeholder="Enter your Subject"
                                                               type="text"/>
                                                    </div>

                                                    <div class="form-group">
                                                <textarea class="input" name="comment"
                                                          placeholder="Your review"></textarea>
                                                    </div>


                                                    {% if user.id is not None %}
                                                    <button class="primary-btn">Submit</button>
                                                    {% else %}
                                                    you mast be logged in to post a review
                                                    {% endif %}
                                                </form>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /Product Details -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /section -->

        {% endblock %}
        {% block footer %} {% include 'footer.html' %} {%endblock%}