{% extends 'homebase.html' %}

{% block title %} {{ Product.title}} {% endblock %}
{% block description %}{{Product.description}} {% endblock %}
{% block keywords %}{{Product.keywords}} {% endblock %}
{% block slidebar %}  {% include 'slidebar.html' %}      {% endblock %}

{% block body %}

<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="/category/{{ Product.category.id}}/{{ Product.category.slug}}">{{ Product.category.title}}</a>
            </li>
            <li><a href="#">{{ Product.title}}</a></li>

        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!--  Product Details -->
            <div class="product product-details clearfix">
                <div class="col-md-6">
                    <div id="product-main-view">
                        <div class="product-view">
                            <img alt="" src="{{ Product.image.url}}" style="height:400px">
                        </div>
                        {% for rs in images %}
                        <div class="product-view">
                            <img alt="" src="{{ rs.image.url}}" style="height:400px">
                        </div>
                        {% endfor %}

                    </div>
                    <div id="product-view">
                        <div class="product-view">
                            <img alt="" src="{{ Product.image.url}}">
                        </div>
                        {% for rs in images %}
                        <div class="product-view">
                            <img alt="" src="{{ rs.image.url}}" ">
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="product-body">
                        <div class="product-label">
                            <span>New</span>

                        </div>
                        <h2 class="product-name">{{ Product.title}}</h2>
                        <h3 class="product-price">RS.{{ Product.price}}

                        </h3>
                        <div>


                        </div>

                        <p><strong>Brand:</strong> E-SHOP</p>
                        <p>{{ Product.description}}.</p>


                        <div class="product-btns">
                            <form action="/order/addtoshopcart/{{ Product.id }}" method="post">
                                {% csrf_token %}
                                <div class="qty-input">
                                    <span class="text-uppercase">QTY: </span>
                                    <input class="input" max="{{ Product.amount }}" min="1" name="quantity"
                                           type="number"
                                           value="1">
                                </div>
                                <button class="primary-btn add-to-cart" type="submit"><i
                                        class="fa fa-shopping-cart"></i> Add to Cart
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="product-tab">
                        <ul class="tab-nav">

                            <li><a data-toggle="tab" href="#tab1">Details</a></li>
                            <li><a data-toggle="tab" href="#tab2">Reviews</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1">
                                <p>{{Product.detail|safe}}</p>
                            </div>
                            <div class="tab-pane fade in" id="tab2">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="product-reviews">
                                            {% for rs in comments %}

                                            <div class="single-review">
                                                <div class="review-heading">
                                                    <div><a href="#"><i class="fa fa-user-o"></i> {{ rs.user.first_name
                                                        }}</a></div>
                                                    <div><a href="#"><i class="fa fa-user-o"></i> {{ rs.subject }}</a>
                                                    </div>
                                                    <div><a href="#"><i class="fa fa-clock-o"></i> {{ rs.create_at
                                                        }}</a>
                                                    </div>

                                                </div>
                                                <div class="review-body">
                                                    <p>{{ rs.comment }}</p>
                                                </div>
                                            </div>
                                            {% endfor %}

                                            <div class="col-md-6">
                                                <h4 class="text-uppercase">Write Your Review</h4>

                                                {% if messages %}
                                                {% for message in messages %}
                                                <div class="alert alert-{{message.tags}}" role="alert">
                                                    {{ message }}
                                                </div>
                                                {% endfor %}
                                                {% endif %}

                                                <form action="/product/addcomment/{{ Product.id }}" class="review-form"
                                                      method="POST">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <input class="input" name="subject"
                                                               placeholder="Enter your Subject"
                                                               type="text"/>
                                                    </div>

                                                    <div class="form-group">
                                                <textarea class="input" name="comment"
                                                          placeholder="Your review"></textarea>
                                                    </div>
                                                    <div class="form-group">

                                                    </div>
                                                    {% if user.id is not None %}
                                                    <button class="primary-btn">Submit</button>
                                                    {% else %}
                                                    you mast be logged in to post a review
                                                    {% endif %}
                                                </form>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /Product Details -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /section -->

        {% endblock %}
        {% block footer %} {% include 'footer.html' %} {%endblock%}