{% extends 'homebase.html' %}

{% block title %} {{ query }} result {% endblock %}
{% block description %}{{setting.description}} {% endblock %}
{% block keywords %}{{setting.keywords}} {% endblock %}
{% block slidebar %}  {% include 'slidebar.html' %}      {% endblock %}

{% block body %}

	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active"> {{ query }} result </li> </li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				My shopcart list
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->
{% endblock %}
{% block footer %} {% include 'footer.html' %} {%endblock%}